config.php

#Ignore the index file since this project is made to be part of other projects
index.html
index.htm
index.php

#Ignore other things that could accidently follow with a commit
400.shtml
401.shtml
402.shtml
403.shtml
404.shtml
500.shtml
