body{
	background: url(http://olofhaglund.name/images/wtf.jpg);
	color: gray;
}
table{
	background: rgba(0,0,0,0.5);
	margin: 0px;
	
	width: 500px;
}
table tr{
	overflow: hidden;
}
#slideForm{
	
}
#slideForm fieldset{
	border-radius: 4px;
	background: rgba(0,0,0,0.5);
}
#slideForm legend{
	font-size:30px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
#slideForm input[type="submit"]{
	background: url("http://olofhaglund.name/images/llamaHead.jpg");
	background-size: contain;
	width:100px;
	height: 160px;
	font-size: 20px;
	font-weight: bold;
}
a{
	color: orange;
}
