*{
    margin: 0px;
    padding: 5px;
}
#slideForm{
    width: 500px;
}
#slideForm div{
    margin-bottom: 10px;
    display: none;
}
#slideForm input[type = "submit"]{
    display: none;
}
#slideForm fieldset{
	display: none;
}