*{
    margin: 0px;
    padding: 5px;
}
#slideForm{
    width: 500px;
}

#slideForm fieldset{
    margin-bottom:10px;
}
#slideForm div{
    margin-bottom: 10px;
}
.removeImage{
	max-width: 200;
	max-height: 200;
}
